<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="gearman" type="Twingly.Gearman.Configuration.GearmanConfigurationSection, Twingly.Gearman" />
  </configSections>

  <gearman>
    <clusters>
      <cluster name="test">
        <servers>
          <server host="10.21.1.14" port="4730" />
        </servers>
      </cluster>
    </clusters>
  </gearman>
</configuration>