<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="gearman" type="Twingly.Gearman.Configuration.GearmanConfigurationSection, Twingly.Gearman" />
  </configSections>
  
  <gearman>
    <clusters>
      <cluster name="channelsCluster">
        <servers>
          <server host="10.21.1.201" port="4730" />
          <server host="10.21.1.201" port="4731" />
        </servers>
      </cluster>
      <cluster name="eventsCluster">
        <servers>
          <server host="127.2.3.4" port="4730" />
          <server host="127.2.3.5" port="4730" />
        </servers>
      </cluster>
    </clusters>
  </gearman>
</configuration>